<a href="https://colab.research.google.com/github/vishesh-07/Consultadd-Python-Assignments/blob/day-2/Consultadd_Python_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function translate() that will translate a text into "rövarspråket" (Swedish for "robber's language"). That is, double every consonant and place an occurrence of "o" in between. For example, translate("this is fun") should return the string "tothohisos isos fofunon".

In [ ]:
s='this is fun'
def translate(s):
  temp=''
  for i in s:
    if i not in 'aeiouAEIOU ':
      temp+=(i+'o'+i)
    else:
      temp+=i
  return temp
print(translate(s))

tothohisos isos fofunon

Define a function sum() and a function multiply() that sums and multiplies (respectively) all the numbers in a list of numbers. For example, sum([1, 2, 3, 4]) should return 10, and multiply([1, 2, 3, 4]) should return 24

In [ ]:
def sum(lst):
  ans=0
  for i in lst:
    ans+=i
  return ans
def multiply(lst):
  ans=1
  for i in lst:
    ans*=i
  return ans
lst=[1,2,3,4]
print(sum(lst),multiply(lst))

10 24

**Define a function reverse() that computes the reversal of a string. For example, reverse("I am testing") should return the string "gnitset ma I**

In [ ]:
def reverse(s):
  return s[::-1]
print(reverse('I am testing'))

True

**Define a function is_palindrome() that recognizes palindromes (i.e. words that look the same written backwards). For example, is_palindrome("radar") should return True.**

In [ ]:
def is_palindrome(s):
  return s==s[::-1]
print(is_palindrome('radar'))

True

**Write a function is_member() that takes a value (i.e. a number, string, etc) x and a list of values a, and returns True if x is a member of a, False otherwise.**

In [ ]:
def is_member(x,a):
  return x in a
a=[1,2,'abc',5,7,'q',5.6]
x=7
print(is_member(x,a))
x=30
print(is_member(x,a))

True
False

**Define a function overlapping() that takes two lists and returns True if they have at least one member in common, False otherwise. You may use your is_member() function, or the in operator, but for the sake of the exercise, you should (also) write it using two nested for-loops.**

In [ ]:
def overlapping_loop(lst1,lst2):
  for i in lst1:
    for j in lst2:
      if i==j:
        return True
  return False
def overlapping(lst1,lst2):
  for i in lst1:
    if i in lst2:
      return True
  return False
lst1=[1,2,3]
lst2=[4,5,6]
print(overlapping_loop(lst1,lst2))
print(overlapping(lst1,lst2))

False
False

# *Define a procedure histogram() that takes a list of integers and prints a histogram to the screen. For example, histogram([4, 9, 7]) should print the following:*(click on next cell to see)


****
*********
*******

In [ ]:
def histogram(lst):
  for i in lst:
    print(i*'*')

In [ ]:
histogram([4,9,7])

****
*********
*******

**Write a function char_freq() that takes a string and builds a frequency listing of the characters contained in it. Represent the frequency listing as a Python dictionary. Try it with something like char_freq("abbabcbdbabdbdbabababcbcbab").**

In [ ]:
def char_freq(s):
  freq={}
  for i in s:
    if i in freq:
      freq[i]+=1
    else:
      freq[i]=1
  return freq

In [ ]:
char_freq("abbabcbdbabdbdbabababcbcbab")

{'a': 7, 'b': 14, 'c': 3, 'd': 3}

A certain childrens game involves starting with a word in a particular category. Each participant in turn says a word, but that word must begin with the final letter of the previous word. Once a word has been given, it cannot be repeated. If an opponent cannot give a word in the category, they fall out of the game. For example, with "animals" as the category,
Child 1: dog 
Child 2: goldfish
Child 1: hippopotamus
Child 2: snake
...
Your task in this exercise is as follows: Take the following selection of 70 English Pokemon names (extracted from Wikipedia's list of Pokemon) and generate the/a sequence with the highest possible number of Pokemon names where the subsequent name starts with the final letter of the preceding name. No Pokemon name is to be repeated.
**audino bagon baltoy banette bidoof braviary bronzor carracosta charmeleon
cresselia croagunk darmanitan deino emboar emolga exeggcute gabite
girafarig gulpin haxorus heatmor heatran ivysaur jellicent jumpluff kangaskhan
kricketune landorus ledyba loudred lumineon lunatone machamp magnezone mamoswine
nosepass petilil pidgeotto pikachu pinsir poliwrath poochyena porygon2
porygonz registeel relicanth remoraid rufflet sableye scolipede scrafty seaking
sealeo silcoon simisear snivy snorlax spoink starly tirtouga trapinch treecko
tyrogue vigoroth vulpix wailord wartortle whismur wingull yamask**

In [2]:
def poke_names():
	data='audino bagon baltoy banette bidoof braviary bronzor carracosta charmeleon cresselia croagunk darmanitan deino emboar emolga exeggcute gabite girafarig gulpin haxorus heatmor heatran ivysaur jellicent jumpluff kangaskhan kricketune landorus ledyba loudred lumineon lunatone machamp magnezone mamoswine nosepass petilil pidgeotto pikachu pinsir poliwrath poochyena porygon2 porygonz registeel relicanth remoraid rufflet sableye scolipede scrafty seaking sealeo silcoon simisear snivy snorlax spoink starly tirtouga trapinch treecko tyrogue vigoroth vulpix wailord wartortle whismur wingull yamask'
	names=data.split()
	longest_series, current_series = [], []
	def name_starts_with(lastletter, names):
		for index, name in enumerate(names):
			if name.startswith(lastletter):
				return index
		return False
	for name in names:
		current_name = name
		current_series.append(current_name)
		namelist = names[:]
		namelist.pop(namelist.index(current_name))
		index = name_starts_with(current_name[-1], namelist)
		while index is not False:
			current_name = namelist[index] 
			current_series.append(current_name) 
			namelist.pop(index) 
			index = name_starts_with(current_name[-1], namelist)
		if len(current_series) > len(longest_series):
			longest_series = current_series
		current_series = []
	print(longest_series)
poke_names()

['baltoy', 'yamask', 'kangaskhan', 'nosepass', 'sableye', 'emboar', 'registeel', 'landorus', 'scolipede', 'emolga', 'audino']

**Write a program able to play the "Guess the number"-game, where the number to be guessed is randomly chosen between 1 and 20. (Source: http://inventwithpython.com) This is how it should work when run in a terminal:

Hello! What is your name?
Torbjörn
Well, Torbjörn, I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too low.
Take a guess.
15
Your guess is too low.
Take a guess.
18
Good job, Torbjörn! You guessed my number in 3 guesses!***

In [ ]:
import random
random_number=random.randint(1, 20)
times=0
name=input('Hello! What is your name?')
print('Well, {}, I am thinking of a number between 1 and 20.'.format(name))
while times<3:
  times+=1
  guess=int(input('Take a guess: '))
  if guess==random_number:
    print('Good job, {}! You guessed my number in {} guesses!'.format(name,times))
    break
  elif guess>random_number:
    print('{} Your guess is too high.'.format(guess))
  else:
    print('{} Your guess is too low.'.format(guess))

Hello! What is your name?vishesh
Well, vishesh, I am thinking of a number between 1 and 20.
Take a guess: 10
10 Your guess is too high.
Take a guess: 5
5 Your guess is too low.
Take a guess: 7
7 Your guess is too low.

***Write a program that maps a list of words into a list of integers representing the lengths of the correponding words.***

In [ ]:
def map_int(lst):
  op=[]
  for i in range(len(lst)):
    op.append(len(lst[i]))
  return op

In [ ]:
print(map_int(['te','tes','test','testing']))

[2, 3, 4, 7]